// $theme:dark;

// body{
//     @if $theme==light{
//         background-color: $fff;
//         color:#000;
//     }@else if $theme==dark{
//         background-color: #000;
//         color: #fff;
//     }@else{
//         background-color: gray;
//         color: black;
//     }
// }
// $spacing:0,5px,10px,15px;
// $spacing-2:nth($spacing,2);

// p{
//     padding: $spacing-2;
// }

// $breakpoints:(
//     "sm":576px,
//     "md":768px,
//     "lg":992px
// );

// $md-size:map-get($breakpoints,"md");

// div{
//     width: $md-size;
// }

// @for $i from 1 through 5{
//     .mt-#{$i}{
//         margin-top: #{$i*10}px;
//     }
// }
// @for $i from 1 to 5{
//     .mt-#{$i}{
//         margin-top: #{$i*10}px;
//     }
// }

// $colors:red,green,blue;

// @each $color in $colors{
//     .text-#{$color}{
//         color:$color;
//     }
// }

// $theme-colors:(
//     "primary":#007bff,
//     "secondary":#6c757d,
//     "success":#28a745
// );

// @each $name,$hex in $theme-colors{
//     .bg-#{$name}{
//         background-color: $hex;
//     }
// }

$i:1;

@while $i<=3{
    .w-#{$i}00{
        width: #{$i*100}px;
    }
    $i:$i+1;
}